*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.heading{
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}

.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner-msg{
    font-size: 25px;
    font-weight: bold;
}

.time{
    font-size: 25px;
}

.games{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.box{
    font-size: 1.7rem;
    background-color: #ffffff;
    font-weight: bold;
    color:black;
    height: 20%;
    width: 20%;
    border: 3px solid rgb(113, 189, 0);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.buttons{
    display: flex;
    gap: 2rem;
}

.button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: medium;
    cursor: pointer;
}

.reset{
    background-color: rgb(246, 206, 6);
    color: white;
}

.toggle{
    background-color: rgb(229, 11, 7);
    color: white;
}

.start{
    background-color: rgb(6, 154, 212);
    color: white;
}